.Main {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.ImageContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -145px; /* Half the width */
  height: 420px;
  width: auto;
}
