.Card {
  margin: 35px auto;
  width: 250px;
  height: auto;
  background-color: #84c08f;
  border-radius: 2px;
  padding-bottom: 25px;
}
.Card h2 {
  padding-top: 15px;
  margin-bottom: 5px;
  font-size: 1.2rem;
}
.Card p {
  font-weight: 500;
}
.Card ul {
  margin: 15px 0;
  list-style: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
}
.Card a {
  color: #000;
  text-decoration: none;
}
.Card li {
  border: 2px solid #000;
  padding: 10px 15px;
}
.Card li:hover {
  cursor: pointer;
  background-color: #4fbd65;
}
.GotoIcon {
  width: 50px;
  margin: 0 auto;
  padding: 15px 5px;
  border: 1px solid black;
  border-radius: 50%;
}
.Card img {
  width: 30px;
  height: 30px;
}
.GotoIcon:hover {
  background-color: #84c08f;
}
