.Footer {
  background-color: #064b3f;
  padding-top: 55px;
  color: #cccccc;

  font-size: 0.85rem;
  text-align: center;
}
.Socials  {
width: 40%;
margin: 0 auto;
    
}
.Socials ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
}

.Socials img {
    margin: 15px;
  width: 30px;
  height: 30px;
}
.Footer h3{
    margin-top: 35px;
    font-size: .85rem;
    padding-bottom: 25px;
}
